h1{color:rgb(150, 175, 223); background-color: white;}
body {background-color: #aedbae;}
li{list-style:none;}
ul{display:flex;}
li{list-style:none;padding:20px 30px 20px 30px;color: white;}
.header{background-color: rgb(15, 15, 80);height: 70px;}
    